header {
	background: url(images/index_01.gif) no-repeat;
	float: left;
	height: 338px;
	width: 1024px;
}

#content {
    background: url(images/index_02.gif) repeat-y;
	width: 1024px;	
	overflow:hidden;
}
aside {
	text-align: center;
	float: left;
	width: 250px;
}
section {

    float : right; 

	width: 774px;


}
footer {
	background: url(images/index_04.gif) no-repeat;
	float: left;
	height: 105px;
	width: 1024px;
}

.photo{
    font: 14px "新細明體", "標楷體";
	color: #333;
	background: url(images/photobg.png) no-repeat;
	float: left;
	height: 230px;
	width: 280px;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40px;
	padding-top: 50px;
}
